.cart-item {
    display: flex;
    flex-direction: row;
    /* justify-content: ; */
    gap: 20px;
    border-bottom: solid 1px var(--line-light-grey);
    padding-bottom: 24px;
    margin-bottom: 24px;
}

.cart-item:last-child {
    margin-bottom: 64px;
}

.cart-item-image {
    height: 141px;
    width: 140px;
    object-fit: cover;
}

.cart-item-column-right {
    width: 100%;
}

.cart-item-brand-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 20px;
}

.cart-item-brand-row > p {
    margin: 0 0 8px;
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    line-height: 20px;
}

.cart-item-brand {
    font-size: 16px;
}

.cart-item-price {
    font-size: 14px;
}

.cart-item-model {
    margin: 0 0 22px;
    font-size: 14px;
    white-space: nowrap;
    overflow: ellipsis;
}

.remove-from-cart {
    margin: 16px 0 24px;
    font-weight: bold;
    font-size: 14px;
    text-decoration: underline;
}

.remove-from-cart:hover {
    cursor: pointer;
}

@media screen and (width >=960px) {

    .cart-item-image {
        height: 166px;
        width: 165px;
    }

    .cart-item-brand-row>p {
        line-height: 24px;
        margin-bottom: 6px;
    }

    .cart-item-brand {
        font-size: 20px;
    }

    .cart-item-price {
        font-size: 18px;
    }

    .cart-item-model {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 68px;
    }

    .cart-item-selector-row {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: last baseline;
        gap: 30px;
    }

    .remove-from-cart {
        font-size: 16px;
        margin: 0;
    }
}