#cart-summary {
    margin-top: 18px;
    padding: 31px 24px;
}

#cart-summary-heading {
    margin: 0 0 25px;
    font-family: 'DM Sans', sans-serif;
    line-height: 36px;
}

.summary-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 18px;
    font-family: 'DM Sans', sans-serif;
    margin: 0 0 16px;
}

.summary-row p {
    margin: 0;
}

.charge-name {
    font-weight: 500;
    font-size: 16px;
}

.charge-amount {
    font-size: 14px;
}

.orange {
    color: var(--orange);
}

#cart-summary .horizontal-rule {
    margin: 20px 0; 
}

.total-row {
    line-height: 24px;
    margin-bottom: 32px;
}

#total-cost-heading {
    font-size: 18px;
}

#total-cost-amount {
    font-size: 15px;
}

#checkout-button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    background-color: var(--black);
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    padding: 12px 80px;
    gap: 10px;
}

#checkout-button:hover {
    cursor: pointer;
}

@media screen and (width >=960px) {

    #cart-summary {
        width: 41%;
        padding-top: 36px;
        margin-bottom: 64px;
    }

    #checkout-button {
        align-self: left;
        margin-left: 0;
        font-size: 18px;
        padding: 20px 80px;
        align-self: flex-start;
        margin: 0;
    }

    #cart-summary-heading {
        line-height: 48px;
        font-size: 36px;
        margin-bottom: 32px;
    }

    .summary-row {
        line-height: 24px;
        margin-bottom: 20px;
    }

    .charge-name {
        font-size: 20px;
    }

    .charge-amount {
        font-size: 18px;
    }

    #cart-summary > .horizontal-rule {
        margin: 32px 0;
    }

    .total-row {
        margin-bottom: 40px;
    }

    #total-cost-heading {
        font-size: 24px;
        line-height: 32px;;
    }

    #total-cost-amount {
        font-size: 18px;
    }

    #checkout-button {
        box-sizing: border-box;
        height: 64px;
        font-size: 18px;
        margin-bottom: 36px;
    }
}