.summary-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#checkout-button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    background-color: var(--black);
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    padding: 12px 80px;
    margin: 0 20px 40px;
    gap: 10px;
}

#checkout-button:hover {
    cursor: pointer;
}

@media screen and (width >=960px) {

    #checkout-button {
        align-self: left;
        margin-left: 0;
        font-size: 18px;
        padding: 20px 80px;
        align-self: flex-start;
        margin: 0;
    }
}