#view-cart {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 8px 24px;
    border: solid var(--black);
    border-radius: 10px;
    font-weight: bold;
}

#cart-icon {
    max-width: 16px;
    object-fit: contain;
}

#view-cart:hover {
    cursor: pointer;
}