@media screen and (width >=960px) {
    .product-row {
        margin: 0 162px;
        /* display: flex; */
        /* flex-direction: row; */
        /* justify-content: space-between; */
        display: grid;
        grid-template-columns: 47% 42px 49%;
        grid-template-areas:
            "carousel . quantity-selector"
            "description . description-image";
    }
}