#description-container {
    margin: 16px 20px 0;
}

#description-heading {
    line-height: 24px;
    margin: 0 0 8px;
}

.product-description {
    font-weight: normal;
    font-size: 16px;
    color: var(--dark-grey);
}

#description-image {
    width: 100%;
    margin-top: 8px;
}

@media screen and (width >=960px) {
    #description-container {
        align-items: center;
        margin: 16px 162px 0;
    }

    #description-column-left {
        grid-area: description;
    }

    #description-column-right {
        grid-area: description-image;
    }

    .product-description {
        font-size: 18px;
    }

    #description-image {
        margin-top: 0;
    }
}