.App {
  --header-height: 64px;
  --footer-height: 123px;
}

main {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
}

.horizontal-rule {
  border: solid 1px var(--line-light-grey);
}

.white-card {
  padding: 0 24px;
  padding: 24px var(--horizontal-padding) 18px;
  background-color: var(--white);
  border-radius: 15px;
}

@media screen and (width >=960px) {
  .App {
    --footer-height: 72px;
  }
}